@import "app/definitions.scss";

sama-topic {
	> .title {
		font-size: $default-font-size * 1.5;
		font-weight: bold;

		padding: $default-padding;
	}

	> .content {
		padding: $default-padding;
		padding-top: 0;

		sama-fnc-signature,
		sama-code-block {
			margin-left: -$default-padding + 1;
			margin-right: -$default-padding;
		}

		.section {
			&:not(:first-child) {
				margin-top: $default-padding;
			}
		}

		.section-title {
			font-weight: bold;
			margin-bottom: $default-padding;
		}
	}
}