@import "app/definitions.scss";

sama-topic {
	> .title {
		background-color: $light-blue;
		color: $text-color-inverse;

		font-size: $default-font-size * 1.5;
		font-weight: bold;

		padding: $default-padding;
		margin-bottom: $default-padding;
	}

	> .content {
		padding: $default-padding;
		padding-top: 0;

		sama-fnc-signature,
		sama-code-block {
			margin-left: -$default-padding + 1;
			margin-right: -$default-padding;
		}

		.section {
			&:not(:first-child) {
				margin-top: $default-padding;
			}

			.type {
				color: $middle-blue;
				font-weight: bold;
			}

			.alternative {
				color: $middle-grey;
			}

			.inline {
				color: $dark-grey;
				font-family: monospace;
				font-weight: bold;
			}
		}

		.section-title {
			font-weight: bold;
			margin-bottom: $default-padding;
		}
	}
}