$backdrop: #f0f0f0;

$white: #ffffff;
$black: #000000;

$text-color: $black;
$text-color-inverse: $white;

$border-color: #cccccc;

$dark-blue: #003399;
$middle-blue: #3366cc;
$light-blue: #6699ff;

$dark-grey: #a7a7a7;
$darkish-grey: #cccccc;
$middle-grey: #d5d5d5;
$light-grey: #e6e6e6;
$lighter-grey: #efefef;

$success-green: #3c763d;
$error-red: #a94442;

$default-padding: 12px;

$default-font-size: 14px;
$page-title-font-size: $default-font-size * 2;
$chapter-title-font-size: $default-font-size * 1.25;

$icon-width: 24px;