@import "app/definitions.scss";

@mixin sidebar() {
	height: 100%;

	sama-sidebar-search {
		position: absolute;
		top: 0;
	}

	.sidebar-content {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;

		padding-top: $default-padding * 2 + 28; // height of search
	}
}

sama-sidebar {
	@media(min-width: $breakpoint) {
		.sidebar {
			position: relative;

			@include sidebar();
		}

		.sidebar-slim {
			display: none;
		}
	}

	@media(max-width: $breakpoint) {
		.sidebar-slim {
			cursor: pointer;
			height: 100%;

			display: flex;
			flex-direction: column;

			color: $dark-grey;

			.text {
				flex-basis: 0;
				flex-grow: 1;

				display: flex;
				align-items: center;
				justify-content: center;

				> span {
					display: block;
					transform: rotate(-90deg);

					font-size: $chapter-title-font-size;
				}
			}

			.icon {
				height: $sidebar-slim-width;
				width: $sidebar-slim-width;

				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.sidebar {
			display: none;
		}

		&:hover {
			position: relative;

			.sidebar {
				display: block;

				position: absolute;
				left: 0;

				z-index: 1;

				background-color: $backdrop;
				border-right: 1px solid $border-color;

				@include sidebar();
			}
		}
	}
}
