html, body {
	margin: 0;
	padding: 0;
	height: 100%;

	* {
		box-sizing: border-box;
	}
}

body > div {
	display: none; /* remove webhosting tag */
}

@import "~font-awesome/css/font-awesome.min.css"
